<html>
<head> 
<title> ToDo App </title>


<link rel="stylesheet" type="text/css" href="/../css/style.css" />
<link rel="stylesheet" type="text/css" href="/../css/details.css" />

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

<script>
    function openTab(evt, fiche) {
      // Declare all variables
      var i, tabcontent, tablinks, btn_modify, btn_create;
      
    btn_create = document.getElementById("btn_create");
    btn_modify = document.getElementById("btn_modify");
      // Get all elements with class="tabcontent" and hide them
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
    
      // Show the current tab
      document.getElementById(fiche).style.display = "block";

      console.log(document.getElementById(fiche));

      if( document.getElementById(fiche).id == "fiche_info")
      {
          btn_create.style.display="none";
          btn_modify.style.display="flex";


      }
      else{

        btn_create.style.display="block";
        btn_modify.style.display="none";

      }


    
    
    }
    function Active_Form_Modify_Info()
    {
        var d,s,i;
        d = document.getElementsByClassName("form_Infos_Gene_Update");
        s = document.getElementById("save");

        if(d[0].hasAttribute("disabled"))
        {
            for (i = 0; i < d.length; i++) {
                d[i].removeAttribute("disabled");
                d[i].className="form_Infos_Gene_Update input_On";
                
            }

            s.style.display= "flex";



        }
        else{
            for (i = 0; i < d.length; i++) {
                d[i].setAttribute("disabled","true");
                d[i].className="form_Infos_Gene_Update";

            }

        s.style.display= "none";
        }

    }
    function active_Form_Add_Treatment()
    {
        var d;
        d = document.getElementsByClassName("form_Infos_Medic_Create");
        console.log(d[0]);

             d[0].style.display ="table";


    }

    </script>


</head>

<body>
    <nav class=" bg-dark text-light">

        <a class="nav_buttons" href="/animal"> <div class="arrow"></div></a>
    
        <h1> Fiche : <%= result[0].boucle %> </h1>
    
        <button id="btn_modify" class="nav_buttons" onclick=Active_Form_Modify_Info();> Modifier </button> 
        <button id="btn_create" style="display:none" class=" nav_buttons" onclick="active_Form_Add_Treatment()" > Créer un traitement </button> 


    
      </nav>




<div class="tab">
<button class="tablinks"   onclick="openTab(event, 'fiche_info')" id="Open_1"> Fiche info</button>
<button class="tablinks" onclick="openTab(event, 'fiche_medic')"  id="Open_2"> Fiche medical</button>
</div>


<div id="fiche_info" class="tabcontent">
    <div>

        <div class="interactions">   
            <h2> Fiche information</h2>
            

        </div>


        <form action ="/animal/update" method="POST">


            <table class="table table-dark">
                <tr>
                    <td>

                    </td>
                    <td>

                    </td>

                </tr>
            
                <tr>
                    <th> Boucle </th>
                    <td> <input class="form_Infos_Gene_Update" type="text"  name="boucle" value="<%= result[0].boucle %>" disabled="true">   </td>
                </tr>
                <tr>
                    <th> Sexe </th>
                    <td> <input  class="form_Infos_Gene_Update" type="text" name="gender" value="<%= result[0].gender %>" disabled="true">  </td>
                </tr>
                <tr>
                    <th> Type </th>
                    <td>  <input  class="form_Infos_Gene_Update" type="text" name="type" value="<%= result[0].type %>" disabled="true"> </td>
                </tr>
                <tr>
                    <th> Date de naissance </th>
                    <td>  <input class="form_Infos_Gene_Update" type="text" name="birth" value="<%= result[0].birth %>" disabled="true"></td>
                </tr>

                <input type="hidden" name="animalToUpdate" value="<%= id %>" />


            </table>
            <div id="save" style="display:none;" class="interactions">
                <button class="btn btn-primary" > save</button>
                <button class="btn btn-danger" href="/form/animal/delete/<% id %>"> Supprimer </button> 
            </div>
    </form> 

        
      


    </div>

</div>

<div id="fiche_medic" class="tabcontent">


    <div class="interactions">
        <h2>Fiche médicale </h2>
    </div>
    <table style="display:none;" class="form_Infos_Medic_Create table table-dark" class="table table-dark">
    <form action ="/treatment/add" method="POST">

        <input type="hidden" name="id_animal" value="<%= id %>" />
        <tr>
            <th>Date d'administration du médicament</th>
            <th>Numéro du lot</th>
            <th>Nom du médicament</th>
            <th>raison</th>
            <th>Quantité administré</th>
            <th> creer </th>

        </tr>
        <tr>
            <td> <input class="input_On" type="text" name="administration_datum" value="" placeholder=" date d'administration du médicament">  </td>
            <td> <input class="input_On" type="text" name="num_lot" value="" placeholder="Numéro lot"> </td>
            <td> <input class="input_On" type="text" name="medicament_name" value="" placeholder="nom du médicament">  </td>
            <td> <input class="input_On" type="text" name="reason" value="" placeholder="raison d'administration">  </td>
            <td> <input class="input_On" type="text" name="quantity" value="" placeholder="quantité"> </td>

            <td> <button >creer</button></td>

            

            
           

        </tr>
        
    </form>
    </table>


    <% if (medical) { %>
        <p>

            <table class="table table-dark">
                <tr>
                    <th>ID</th>
                    <th>Date d'administration du médicament</th>
                    <th>Numéro du lot</th>
                    <th>Nom du médicament</th>
                    <th>Raison d'administration</th>
                    <th>Quantité administré</th>
                    <th> Actions</th>
                </tr>
                <% for( var i = 0; i < result.length; i++){ %>
                <tr>
                    <td> <%= i %> </td>
                    <td>  <%= result[i].administration_datum %> </td>
                    <td>  <%= result[i].num_lot %></td>
                    <td>  <%= result[i].medicament_name %> </td>
                    <td>  <%= result[i].reason %> </td>
                    <td>  <%= result[i].quantity %></td>
                    <td>
                        <a class="btn btn-warning" href="/form/animal/update/<%= result[i].id %>"> Modifier </a> 
                        <a class="btn btn-danger" href="/treatment/delete/<%= result[i].id %>?id_animal=<%= result[i].id_animal %>"> Supprimer </a> 
    

                    </td>
                </tr>
                    <% } %>

            </table>
            <ul>


            </ul>
        </p>


    <% } else { %>

        <div class="interactions">
             pas de fiche médicale
        </div>


    <% } %>


</div>

<% if(comeFrom == "treatment")  { %>
<script>
       document.getElementById("Open_2").click();
        
</script>
<% } else { %>

    <script>
    document.getElementById("Open_1").click();
        
</script>


<% } %>

</body>
</html>