<html>
<head> 
<title> ToDo App </title>


<link rel="stylesheet" type="text/css" href="/../css/style.css" />
<link rel="stylesheet" type="text/css" href="/../css/details.css" />
<link rel="stylesheet" type="text/css" href="/../css/css_variable.css" />


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

<script>
    function openTab(evt, fiche) {
      // Declare all variables
      var i, tabcontent, tablinks, btn_modify, btn_create;
      
    btn_create = document.getElementById("btn_create");
    btn_modify = document.getElementById("btn_modify");
      // Get all elements with class="tabcontent" and hide them
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
    
      // Show the current tab
      document.getElementById(fiche).style.display = "block";

      console.log(document.getElementById(fiche));

      if( document.getElementById(fiche).id == "fiche_info")
      {
          btn_create.style.display="none";
          btn_modify.style.display="flex";


      }
      else{

        btn_create.style.display="block";
        btn_modify.style.display="none";

      }


    
    
    }
    function Active_Form_Modify_Info()
    {
        var d,s,i;
        d = document.getElementsByClassName("form_Infos_Gene_Update");
        s = document.getElementById("save");

        if(d[0].hasAttribute("disabled"))
        {
            for (i = 0; i < d.length; i++) {
                d[i].removeAttribute("disabled");
                d[i].className="form_Infos_Gene_Update input_On";
                
            }

            s.style.display= "flex";



        }
        else{
            for (i = 0; i < d.length; i++) {
                d[i].setAttribute("disabled","true");
                d[i].className="form_Infos_Gene_Update";

            }

        s.style.display= "none";
        }

    }
    function active_Form_Add_Treatment()
    {
        var d;
        d = document.getElementsByClassName("form_Infos_Medic_Create");
        console.log(d[0]);

             d[0].style.display ="table";


    }


    </script>


</head>

<body>
    <nav>

        <a class="nav_buttons" href="/animal"> <img src="/img/back.svg" alt="Retour"> </a>
    
        <h1> Fiche : <%= result[0].boucle %> </h1>
    
        <button id="btn_modify" class="nav_buttons" onclick=Active_Form_Modify_Info();> <img src="/img/edit.svg" alt="Modifier la fiche"> </a> 
        </button> 
        <button id="btn_create" style="display:none" class=" nav_buttons" onclick="active_Form_Add_Treatment()" > <img src="/img/treatment.svg" alt="Ajouter un traitement">  </button> 


    
      </nav>




<div class="tab">
<button class="tablinks"   onclick="openTab(event, 'fiche_info')" id="Open_1"> Fiche info</button>
<button class="tablinks" onclick="openTab(event, 'fiche_medic')"  id="Open_2"> Fiche medical</button>
</div>


<div id="fiche_info" class="tabcontent">
    <div class="interactions">   
        <h2> Fiche information</h2>   
    </div>

    <form class="form_flex" action ="/animal/update" method="POST">

        <input type="hidden" name="animalToUpdate" value="<%= id %>" > <!-- Pour savoir quel animal modifié-->

        <label for="boucle"> Boucle </label>
        <input id="boucle" class="form_Infos_Gene_Update" type="text"  name="boucle" value="<%= result[0].boucle %>" disabled="true">

        <label for="sexe"> Sexe </label>
        <input  id="sexe" class="form_Infos_Gene_Update" type="text" name="gender" value="<%= result[0].gender %>" disabled="true">

        <label for="type"> Type </label>
        <input  id="type" class="form_Infos_Gene_Update" type="text" name="type" value="<%= result[0].type %>" disabled="true">

        <label for="date_naissance"> Date de naissance </label>
        <input id="date_naissance" class="form_Infos_Gene_Update" type="text" name="birth" value="<%= result[0].birth %>" disabled="true">


        <div id="save" style="display:none;">
            <button class="btn btn-primary" > save</button> 
        </div>
    
    </form> 

        
 

</div>

<div id="fiche_medic" class="tabcontent">


    <div class="interactions">
        <h2>Fiche médicale </h2>
    </div>
   
    <form id="form_add_treatment" style="display:none;" class="form_Infos_Medic_Create" action ="/treatment/add" method="POST">

        <input type="hidden" name="id_animal" value="<%= id %>" />

                <label for="date_administration"> Date d'administration :</label>
                <input id="date_administration" type="text" name="administration_datum" value="" placeholder=" date d'administration du médicament">
        
                <label for="numero_lot"> Numéro du lot : </label>
                <input id="numero_lot" type="text" name="num_lot" value="" placeholder="Numéro lot">
        
                <label for="nom_medicament"> Nom du médicament: </label>
                <input id="nom_medicament" type="text" name="medicament_name" value="" placeholder="nom du médicament">
        
                <label for="raison"> Symptomes | Maladies :  </label>
                <input id="raison" type="text" name="reason" value="" placeholder="raison d'administration"> 

                <label for="quantité"> quantité (en CC) :  </label>
                <input id="quantité" type="text" name="quantity" value="" placeholder="quantité"> </td>

                <button>Ajouter</button>
                    
        
    </form>

    <% if (medical) { %>
                <% for( var i = 0; i < result.length; i++){ %>
  

                <div class="card grid-item text-light">
                    <div class="card-body">
                        <div id="id_card"> <%= i %> </div>
                        <div id="card_datum"> <img src="/img/injection_white-svg.svg" alt="piqure d'injection"> <%= result[i].administration_datum %>  </div>
                        <div id="card_name_medic"> <img src="/img/medicament-svg.svg" alt="photo d'un medicament cartoon"><%= result[i].medicament_name %> </div>
                        <div id="card_num_lot">  <img src="/img/tickets-svg.svg" alt="etiquette d'article"><%= result[i].num_lot %> </div>
                        <div id="card_quant">  <img src="/img/measuring-svg.svg" alt="balance"> <%= result[i].quantity %> CC</div>   
                        <div id="card_reason"> <span>Symptômes | Maladies : </span> <span><%= result[i].reason %> </span></div>
                        <div id="card_action">
                            <a class="btn_edit" href="/form/treatment/update/<%= result[i].id %> %>"> Modifier </a> 
                            <a  class= "btn_supp" href="/treatment/delete/<%= result[i].id %>?id_animal=<%= result[i].id_animal %>"> Supprimer </a> 
                        </div>

                    </div>
                  </div>
                    <% } %>
            


    <% } else { %>

        <div class="interactions">
             pas de fiche médicale
        </div>


    <% } %>


</div>

<% if(comeFrom == "treatment")  { %>
<script>
       document.getElementById("Open_2").click();
        
</script>
<% } else { %>

    <script>
    document.getElementById("Open_1").click();
        
</script>


<% } %>

</body>
</html>