<html>
<head> 
<title> Agro_Medoc </title>


<link rel="stylesheet" type="text/css" href="/../css/style.css" />
<link rel="stylesheet" type="text/css" href="/../css/details.css" />
<link rel="stylesheet" type="text/css" href="/../css/css_variable.css" />

</head>
<body>
    <nav class=" bg-dark text-light">

        <a class="nav_buttons" href="/animal/details/ <%= result.id_animal %> ?comeFrom=treatment"> <img src="/img/back.svg" alt="Retour"></a>
        
    
        <h1> Modifier fiche médicale </h1>
    
        <a class="nav_buttons" onclick="show_Form_Add_Animal();"> <img src="/img/add.svg" alt="Ajouter un animal"> </a> 
    
    
      </nav>
<form action ="/search/done" method="POST">
    <div class="card grid-item text-light">
        <div class="card-body">
            <div id="id_card">  </div>
            <div id="card_datum"> <img src="/img/injection_white-svg.svg" alt="piqure d'injection"> <%= result.administration_datum %>  </div>
            <div id="card_name_medic"> <img src="/img/medicament-svg.svg" alt="photo d'un medicament cartoon"><%= result.medicament_name %> </div>
            <div id="card_num_lot">  <img src="/img/tickets-svg.svg" alt="etiquette d'article"><%= result.num_lot %> </div>
            <div id="card_quant">  <img src="/img/measuring-svg.svg" alt="balance"> <%= result.quantity %> CC</div>   
            <div id="card_reason"> <span>Raison : </span> <span><%= result.reason %> </span></div>
            <div id="card_action">
                <a class="btn_edit"> Modifier</a>
            </div>


        </div>
        </div>



</form>

</body>
</html>