<html>
<head> 
<title> ToDo App </title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

</head>

<body>
  <nav class="navbar navbar-dark bg-dark ">
    <a class="navbar-brand" href="#">
      <img src="https://p1.hiclipart.com/preview/461/352/974/cartoon-animals-baka-baby-cows-baby-farm-animals-livestock-cattle-cartoon-dairy-cow-png-clipart.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
      Agro_Medoc
    </a>
  </nav>



<div class="container_1">
    <a class="first_element_grid" href="/form/animal/add"> Ajouter un animal </a> 
 


  <div  class="bg-dark text-light second_element_grid">
    <h1>Les fiches animaux</h1>
  </div>
  <div class="container_2 third_element_grid  bg-dark">  
  <% for( var i = 0; i < animaux.length; i++){ %>
    <div class="card grid-item text-light">
      <div class="card-body">
          <a class="border-button" href="/animal/details/<%= animaux[i].id %>"> <div> <%= animaux[i].boucle %></div></a>

        <!--<table class="text-light">
        <h5 class="card-title"> Données</h5>
        
          <tr>
            <td> Sexe : <%= animaux[i].gender %> </td>
            <td> Type : <%= animaux[i].type %> </td>
          </tr>
          <tr>
            <td> Date naissance : <%= animaux[i].birth %>  </td>
          </tr>
        </table>
        
        <a  href="/animalDetails/<%= animaux[i].id %>" class="btn btn-primary"> details > </a>
        <a  href="/Animal/Update/<%= animaux[i].id %>"> Modifier </a> 
      -->
      </div>
    </div>
  <% } %>
  </div>
</div>

</body>
</html>

